$navbar-height: 10vh;

.page-subheader {
   width: 100vw;
   height: $navbar-height;
   position: fixed;
   top: $navbar-height;
   z-index: 2;
   background-color: white;
   h1 {
      margin: 0;
   }
}

.article-container {
   width: 80vw;
}

a {
   text-decoration: none;
}

.page-subheader {
   font-family: 'Share Tech Mono', monospace;
   display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
   align-items: center;
   align-content: center;
   div {
      flex: 1;
   }
}

.page-button-container {
   height: 2rem;
   background-color: white;
   display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
   align-items: center;
   margin-right: 2rem;
}